[submodule "ui/3rd/skia/src"]
	path = ui/3rd/skia/src
	url = git@github.com:google/skia.git
[submodule "gn_toolchain"]
	path = gn_toolchain
	url = git@github.com:Streamlet/gn_toolchain.git
[submodule "build"]
	path = build
	url = git@github.com:Streamlet/gn_toolchain.git
