
# Vunkan SDK 所在目录
VULKAN_SDK_DIR=<.../vulkansdk-linux-x86_64-1.4.313.0/1.4.313.0/x86_64>


# Python SDK 所在目录
PYTHON_INC_DIR=/usr/include/python3.12
PYTHON_LIB_DIR=/usr/lib/python3.12/config-3.12-x86_64-linux-gnu